
@import '../../App.scss';


.signup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    background: #FBFCFD;

    @include mobile {
        flex-wrap: wrap;
    }

    p {
        font-size: 2em;
        width: 50%;

        @include mobile {
            width: 100%;
        }
    }
    div {
        @include mobile {
            width: 100%;
        }
        input {
            background: #FFFFFF;
            border-radius: 12px 0 0 12px;
            border: none;
            outline: none;
            height: 52px;
            width: 50%;

        }
        button {
            background: #1B88F4;
            border-radius: 0 12px 12px 0;
            border: none;
            height: 52px;
            width: 97px;
        }
    }
}