
.header {

    h1 {
        font-family: "Inter", sans-serif;
        font-size: 48px;
        font-weight: 400;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;
        margin-block: 10px;
        margin-top: 25px;
    }

    div {
        display: flex;
        justify-content: space-between;


        div {
            display: flex;
            align-items: center;
            gap: 5px;

            img {
                width: 20px;
                height: 20px;

                span {
                    font-family: "Inter", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
        div {
            img {
                Width: 24px;
                Height: 24px;
            }
            span {
                font-family: Inter;
                font-size: 13px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0em;
                text-align: left;
            }
        }
    }
}