
@import '../../../App.scss';


.rightCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include mobile {
        height: 200px;
    }

    div {
        background: #F3F9FF;
        margin-left: 2rem;
        border-radius: 0 0 12px 12px;
        text-align: center;
        margin-top: -32px;
        padding: 15px;

        p.large {
            font-family: Inter;
            font-size: 32px;
            font-weight: 400;
            line-height: 48px;
            letter-spacing: 0em;

        }
        p.title {
            font-family: "Inter", sans-serif;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0em;

        }
        img {
            width: 66px;
            height: 11px;
        }
    }
    button {
        width: 100%;
        height: 48px;
        border-radius: 12px;
        background: #1B88F4;
        border: none;
        color: #FFFFFF;
        margin-bottom: 20px;
    }
}